# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
.idea
*.csv
*.csv#
*.exe
*.db
*.sqlite
*.zip
*.txt
pubspec.lock
mise.toml
bin/server
*.g.dart
.env
dnose
mise.toml

# FVM Version Cache
.fvm/
server
